.title-class{
    max-width: 100px;
    height: max-content;
}
.posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    flex-direction: column;
    box-shadow: 0px 0px 10px grey;
    background-color: antiquewhite;
}
.post-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-class{
    height: 30px;
    width: 50px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.title-class{
    max-width: 100px;
    height: max-content;
}